/*================================
Base
================================*/
@use "../global" as g;
html,
body{
  color: g.$colorBlack;
  background-color: transparent;
  font-family: g.$font-jp;
  font-weight: 600;
  font-size: calc(10px / 375px * (var(--vw, 1vw) * 100));
  @include g.mq(md){
    font-size: calc(10px / 375px * (var(--vw, 1vw) * 75));
  }
  @include g.mq(lg){
    font-size: calc(10px / 375px * (var(--vw, 1vw) * 75));
  }
  @include g.mq(lg){
    font-size: calc(10px / 1920px * (var(--vw, 1vw) * 100));
  }
}
.l_wrapper{
  padding-top: 6rem;
  @include g.mq(lg){
    padding-top: 10rem;
  }
}
.l_inner{
  width: calc(var(--vw, 1vw) * 84);
  margin: 0 auto;
  @include g.mq(lg){
    width: 128rem;
  }
  &._single{
    @include g.mq(lg){
      width: 98rem;
    }
  }
}

.l_xlCol2{
  display: flex;
  flex-direction: column;
  @include g.mq(lg){
    flex-direction: row;
  }
}
.bg_black{
  background-color: g.$colorBlack;
}

.flex{
  display: flex;
}

.grid{
  display: grid;
}

/* margin_top */
.mt{
  &1{
    margin-top: 1.2rem;
    @include g.mq(lg){
        margin-top: 2rem;
    }
  }
  &2{
    margin-top: 2.4rem;
    @include g.mq(lg){
      margin-top: 4rem;
  }
  }
  &3{
    margin-top: 3.6rem;
    @include g.mq(lg){
      margin-top: 6rem;
    }
  }
  &4{
    margin-top: 4.8rem;
    @include g.mq(lg){
      margin-top: 8rem;
    }
  }
  &5{
    margin-top: 6rem;
    @include g.mq(lg){
      margin-top: 10rem;
    }
  }
}

/* margin_bottom */
.mb{
  &1{
    margin-bottom: 1.2rem;

    @include g.mq(lg){
        margin-bottom: 2rem;
    }
  }
  &2{
    margin-bottom: 2.4rem;
    @include g.mq(lg){
      margin-bottom: 4rem;
  }
  }
  &3{
    margin-bottom: 3.6rem;
    @include g.mq(lg){
      margin-bottom: 6rem;
    }
  }
  &4{
    margin-bottom: 4.8rem;
    @include g.mq(lg){
      margin-bottom: 8rem;
    }
  }
  &5{
    margin-bottom: 6rem;
    @include g.mq(lg){
      margin-bottom: 10rem;
    }
  }
}
