/*================================
Reset CSS
================================*/
*,
*::before,
*::after{
    box-sizing:border-box;
}
*{
    margin:0;
}
html,
body{
    height:100%;
}body{
    line-height:1.5;
    -webkit-font-smoothing:antialiased;
}
img,
picture,
video,
canvas,
svg{
    width:100%;
    vertical-align:top;
}
input,
button,
textarea,
select{
    font:inherit;
    border: none;
    border-radius: 0;
}
p,
h1,
h2,
h3,
h4,
h5,
h6{
    overflow-wrap:break-word;
}
#root,
#__next{
    isolation:isolate;
}
dl,dt,dd{
    margin: 0;
    padding: 0;
}
a{  
    color: #5486D5;
    text-decoration: none;
}

ul,
li{
    list-style: none;
    padding: 0;
}