@use "../../global" as g;
.p_course{
    .e_heading,
    .e_heading_message{
        color: g.$colorWhite;
        @include g.mq(lg){
            color: g.$colorBlack;
        }
    }
    &_top{
        padding-top: 6rem;
        padding-bottom: 6rem;
        background-color: g.$colorMain;
        transition: background-color 0.3s;
        @include g.mq(lg){
            padding-top: 16rem;
            padding-bottom: 16rem;
            position: relative;
            z-index: 1;
            background-color: g.$colorWhite;
            background-image: url(../../../image/home/course_bg.png);
            background-size: cover;
            background-position: top;
            background-repeat: no-repeat;
        }
        &._bgBlue{
            background-color: #54BED6;
        }
        .e_heading_message{
            br{
                @include g.mq(lg){
                display: none;
                }
            }
            
        }
    }
    &Tab{     
        margin-top: 2.4rem;
        margin-bottom: 2.4rem;
        @include g.mq(lg){
            margin-top: 8rem;
            margin-bottom: 0;
        }   
        &Button{
            margin-bottom: 1.2rem;
            padding: 0.6rem;
            background-color: g.$colorWhite;
            border-radius: 100vh;
            @include g.mq(lg){
                display: none;
            }
            &_item{
                position: relative;
                z-index: 1;
                width: 50%;
                height: 4.8rem;
                padding-bottom: 0.3rem;
                background-color: transparent;
                font-size: 1.6rem;
                line-height: 1;
                color: #ACACAC;
                @include g.mq(lg){
                    height: 7.6rem;
                    font-size: 2.4rem;
                }
                &._active{
                    color: g.$colorWhite;
                    &::before{
                        content: "";
                        position: absolute;
                        z-index: -1;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        border-radius: 100vh;
                    }
                    &._school{
                        &::before{
                            background-color: g.$colorMain;
                        }
                    }
                    &._schoolchild{
                        &::before{
                            background-color: #54BED6;
                        }
                    }
                }
            }
        }
        &Content{
            $this: &;
            &-wrap{
                @include g.mq(lg){
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    column-gap: 12rem;
                }
            }
            overflow: hidden;
            display: none;
            flex-direction: column;
            padding-bottom: 2.4rem;
            border-radius: 1.2rem;
            background-color: g.$colorWhite;
            @include g.mq(lg){
                display: flex;
                justify-content: flex-start;
                border-radius: 2rem;
                padding-bottom: 3.6rem;
            }
            &_text{
                padding: 2.4rem 2.4rem 2.2rem;
                @include g.mq(lg){
                    margin-bottom: auto;
                    padding: 3.6rem;
                    color: g.$colorWhite;
                }
                h4{
                    margin-bottom: 1rem;
                    font-size: 1.6rem;
                    @include g.mq(lg){
                        font-size: 2.8rem;
                        margin-bottom: 1.2rem;
                    }
                }
                p{
                    font-size: 1.4rem;
                    line-height: 1.6em;
                    font-weight: 600;
                    @include g.mq(lg){
                        font-size: 2rem;
                        line-height: 2em;
                    }
                }
            }
            &_image{
                img{
                    @include g.mq(lg){
                        border-top-left-radius: 1.2rem;
                        border-top-right-radius: 1.2rem;
                    }
                }
            }
            &._show{
                display: flex;
            }
            &._pink{
                @include g.mq(lg){
                    background-color: g.$colorMain;
                }
                #{$this}_image{
                    @include g.mq(lg){
                        border: 1.2rem solid g.$colorMain;
                        border-bottom: none;
                    }
                }
                .e_button{
                    a{
                        @include g.mq(lg){
                            background-color: g.$colorWhite;
                            border:none;
                            color: g.$colorMain;
                        }
                        &::after{
                            @include g.mq(lg){
                                border-bottom-color: g.$colorMain;
                                border-right-color: g.$colorMain;
                            }
                        }
                    }
                }
            }
            &._blue{
                @include g.mq(lg){
                    background-color: #54BED6;
                }
                #{$this}_image{
                    @include g.mq(lg){
                        border: 1.2rem solid #54BED6;
                        border-bottom: none;
                    }
                }
                .e_button{
                    a{
                        @include g.mq(lg){
                            background-color: g.$colorWhite;
                            border:none;
                            color: #54BED6;
                        }
                        &::after{
                            @include g.mq(lg){
                                border-bottom-color: #54BED6;
                                border-right-color: #54BED6;
                            }
                        }
                    }
                }
            }
        }
    }
    &_bottom{
        padding-top: 3.6rem;
        padding-bottom: 3.6rem;
        background-color: g.$colorGray;
        @include g.mq(lg){
            padding-top: 12rem;
            padding-bottom: 12rem;
        }
        .e_heading_message{
            color: g.$colorBlack;
        }
    }
    &OtherSmallList{
        grid-template-columns: repeat(2,1fr);
        gap: 1.2rem;
        margin-bottom: 1.2rem;
        @include g.mq(lg){
            grid-template-columns: repeat(4,1fr);
            gap: 4rem;
            margin-bottom: 4rem;
        }
        &_item{
            overflow: hidden;
            width: 100%;
            height: calc((var(--vw, 1vw) * 84 - 1.2rem) / 2);
            border-radius: 0.8rem;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            @include g.mq(lg){
                height: calc((128rem - 16rem) / 4);
                border-radius: 1.2rem;
            }
            a{
                position: relative;
                z-index: 1;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
                height: 100%;
                padding: 0 1.5rem;
                color: g.$colorWhite;
                font-size: 1.2rem;
                line-height: 1.5em;
                text-align: center;
                @include g.mq(lg){
                    font-size: 2.2rem;
                }
                &::before{
                    content: "詳しく見る >";
                    position: absolute;
                    bottom: 0.4rem;
                    right: 1rem;
                    font-size: 1rem;
                    @include g.mq(lg){
                        bottom: 2rem;
                        right: 2rem;
                        font-size: 1.8rem;
                    }
                }
                &::after{
                    content: "";
                    display: inline-block;
                    position: absolute;
                    z-index: -1;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background-color: rgba(0,0,0,0.5);
                }
            }
        }
    }
    &OtherBigList{
        grid-template-columns: 1fr;
        row-gap: 1.2rem;
        @include g.mq(lg){
            grid-template-columns: repeat(2,1fr);
            gap: 4rem;
        }
        &_item{
            overflow: hidden;
            width: 100%;
            border-radius: 0.8rem;
            @include g.mq(lg){
                border-radius: 1.2rem;
            }
            a{
                display: block;
                width: 100%;
                height: 100%;
            }
        }
    }
}