@use "../../global" as g;
.p_partner{
    margin-bottom: 4.6rem;
    @include g.mq(lg){
        margin-bottom: 12rem;
    }
    .e_heading{
        @include g.mq(lg){
            text-align: center;
        }
    }
    
    &List{
        grid-template-columns: repeat(2,1fr);
        gap: 1.6rem 2rem;
        margin-top: 2rem;
        @include g.mq(lg){
            grid-template-columns: repeat(4,1fr);
            gap: 4rem 2rem;
            width: 120rem;
            margin: 6rem auto 0;
        }
    }
}