@use "../../global" as g;
.p_teacher{
    margin-top: 6rem;
    padding-bottom: 6rem;
    @include g.mq(lg){
        margin-top: 10rem;
        padding-bottom: 12rem;
    }
    &_main{
        margin-bottom: 3.6rem;
        .l_xlCol2{
            flex-direction: column;
            row-gap: 3.6rem;
        }
    }
    &_header{
        overflow: hidden;
        display: grid;
        grid-template-columns: 1fr;
        margin-bottom: 3.6rem;
        border-radius: 1.2rem 1.2rem 0 0;
        @include g.mq(lg){
            overflow: visible;
            grid-template-columns: auto 1fr;
            grid-template-rows: auto 1fr;
            align-items: center;
            column-gap: 4rem;
            margin-bottom: 8rem;
        }
    }
    &_text{
        position: relative;
        z-index: 1;
        grid-row: 2/3;
        margin-bottom: 3.6rem;
        padding: 1.6rem 1.8rem 1.8rem 1.8rem;
        border-radius: 0 0 1.2rem 1.2rem;
        background-color: g.$colorMain;
        box-shadow: 0 -0.3rem 1rem rgba(0,0,0,0.5);
        color: g.$colorWhite;
        @include g.mq(lg){
            grid-row: 1/2;
            grid-column: 2/3;
            margin-bottom: 0;
            padding: 0;
            background-color: transparent;
            box-shadow: none;
            color: g.$colorBlack;
        }
    }
    &_name{
        margin-bottom: 0.6rem;
        font-size: 2.4rem;
        line-height: 1;
        @include g.mq(lg){
            margin-bottom: 3rem;
            font-size: 6rem;
        }
    }
    &_school{
        font-size: 1.4rem;
        @include g.mq(lg){
            font-size: 3rem;
        }
    }
    &_thumbnail{
        grid-row: 1/2;
        @include g.mq(lg){
            grid-row: 1/3;
            overflow: hidden;
            width: 30rem;
            border-radius: 1.2rem;
        }
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
            aspect-ratio: 1/1;
        }
    }
    &_message{
        grid-row: 3/4;
        color: g.$colorMain;
        font-size: 2.4rem;
        line-height: 1.4em;
        text-align: center;
        @include g.mq(lg){
            grid-row: 2/3;
            grid-column: 2/3;
            font-size: 4rem;
            text-align: left;
        }
    }
    &_profile{
        padding: 6rem 0;
        background-color: g.$colorMain;
        @include g.mq(lg){
            padding: 8rem 0;
        }
        .c_dataList{
            br{
                @include g.mq(lg){
                    display: none;
                }
            }
            
        }
    }
    &_interview{
        padding-top: 6rem;
        @include g.mq(lg){
            padding-top: 8rem;
        }
    }
    &_schoolList{
        margin-top: 6rem;
        @include g.mq(lg){
            margin-top: 8rem;
        }
    }
}