/* e_heading */
@use "../global/" as g;
.e_heading{
  $this: &;
  overflow: hidden;
  line-height: 1.6em;
  &-wrap{
    overflow: hidden;
  }
  &_en{
    display: block;
    font-family: g.$font-en;
    letter-spacing: 0.05em;
    line-height: 1;
  }
  &_jp{
    display: block;
    letter-spacing: 0.05em;
    line-height: 1;
  }
  &._large{
    #{$this}_en{
      margin-bottom: 0.4rem;
      font-size: 6rem;
      @include g.mq(lg){
        font-size: 12rem;
      }
    }
    #{$this}_jp{
      font-size:1.8rem;
      @include g.mq(lg){
        font-size: 3.4rem;
      }
    }
  }
  &._subpage{
    #{$this}_en{
      font-size: 1.4rem;
      @include g.mq(lg){
        margin-top: -0.6rem;
        font-size: 3.2rem;
      }
    }
    #{$this}_jp{
      margin-bottom: 0.6rem;
      font-size: 2.4rem;
      line-height: 1.2em;
      @include g.mq(lg){
        margin-left: -0.4rem;
        font-size: 6rem;
        line-height: 1.4em;
      }
    }
  }
  &._center{
    text-align: center;
  }
  &._white{
    color: g.$colorWhite;
  }
  &._pink{
    color: g.$colorMain;
  }
  &._line{
    position: relative;
    &::after{
      content: "";
      display: inline-block;
      position: absolute;
      top: 0.6rem;
      right: -1.5rem;
      width: 17.2rem;
      height: 3.2rem;
      background-image: url(../image/strongth/strongth_heading_line.svg);
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      @include g.mq(lg){
        top: 1rem;
        right: -10rem;
        width: 81.6rem;
        height: 15.2rem;
      }
    }
  }
  &_message{
    font-size: 2rem;
    line-height: 1.6em;
    @include g.mq(lg){
      font-size: 4rem;
      line-height: 1.75em;
    }
    &._white{
      color: g.$colorWhite;
    }
    &._pink{
      color: g.$colorMain;
    }
  }
}