.p_school {
  margin-top: -3.6rem;
}
@media screen and (min-width: 1024px) {
  .p_school {
    margin-top: 10rem;
  }
}
.p_school_header {
  position: relative;
  margin-bottom: 3.6rem;
}
@media screen and (min-width: 1024px) {
  .p_school_header {
    width: 98rem;
    margin: 0 auto 6rem;
  }
}
.p_school_thumbnail img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  aspect-ratio: 16/9;
}
.p_school_cat {
  display: inline-block;
  position: absolute;
  right: 1.2rem;
  bottom: 1.2rem;
  min-width: 8rem;
  height: auto;
  padding: 0.6rem 1.2rem 0.4rem;
  border-radius: 100vh;
  background-color: #FFFFFF;
  color: #D5546A;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1;
  text-align: center;
}
@media screen and (min-width: 1024px) {
  .p_school_cat {
    right: 3rem;
    bottom: 3rem;
    min-width: 15rem;
    font-size: 2rem;
    padding: 0.9rem 3rem 1rem;
  }
}
.p_school_main {
  margin-bottom: 3.6rem;
}
@media screen and (min-width: 1024px) {
  .p_school_main {
    margin-bottom: 6rem;
  }
}
.p_school_main .l_xlCol2 {
  flex-direction: column;
  row-gap: 3.6rem;
}
@media screen and (min-width: 1024px) {
  .p_school_main .l_xlCol2 {
    flex-direction: row;
    row-gap: 0;
    margin-bottom: 6rem;
  }
}
@media screen and (min-width: 1024px) {
  .p_school_main .l_xlCol2_left {
    width: auto;
    margin-right: 8rem;
  }
}
@media screen and (min-width: 1024px) {
  .p_school_main .l_xlCol2_right {
    width: 50%;
  }
}
@media screen and (min-width: 1024px) {
  .p_school_main .l_xlCol2_right .c_dataList dt {
    width: 16.4rem;
  }
}
@media screen and (min-width: 1024px) {
  .p_school_main .l_xlCol2_right .c_dataList dt br {
    display: none;
  }
}
.p_school_title {
  margin-bottom: 2.4rem;
  font-size: 2.8rem;
  line-height: 1.4em;
}
@media screen and (min-width: 1024px) {
  .p_school_title {
    margin-bottom: 4rem;
    font-size: 4.4rem;
  }
}
.p_school_title span {
  display: block;
  margin-bottom: 0.4rem;
  color: #D5546A;
  font-size: 1.6rem;
  line-height: 1;
}
@media screen and (min-width: 1024px) {
  .p_school_title span {
    font-size: 2.4rem;
  }
}
.p_school_map {
  overflow: hidden;
  margin-bottom: 1.2rem;
  border-radius: 1.2rem;
}
.p_school_map iframe {
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center;
  aspect-ratio: 16/9;
}
.p_school_address {
  margin-bottom: 1.2rem;
  font-size: 1.4rem;
  line-height: 1.4em;
}
@media screen and (min-width: 1024px) {
  .p_school_address {
    font-size: 2rem;
    line-height: 1.6em;
  }
}
.p_school_mapButton {
  overflow: hidden;
  border-radius: 0.4rem;
  border: solid 0.2rem #D5546A;
  box-shadow: 0 0.3rem 0.6rem rgba(0, 0, 0, 0.16);
}
@media screen and (min-width: 1024px) {
  .p_school_mapButton {
    border-radius: 0.8rem;
  }
}
.p_school_mapButton a {
  display: block;
  width: 100%;
  height: 4rem;
  color: #D5546A;
  font-size: 1.2rem;
  line-height: 4rem;
  text-align: center;
}
@media screen and (min-width: 1024px) {
  .p_school_mapButton a {
    height: 6.4rem;
    font-size: 2rem;
    line-height: 6.2rem;
  }
}