@use "../global/" as g;
/* Footer */
.c_footer{
  padding-bottom: 13.5rem;
  padding-top: 3.6rem;
  background-color: g.$colorMain;
  @include g.mq(lg){
    padding-top: 12rem;
    padding-bottom: 2.4rem;
  }
  &_inner{
    margin-bottom: 3.6rem;
    @include g.mq(lg){
      margin-bottom: 6rem;
    }
  }
  &_logo{
    width: 100%;
    margin-bottom: 1.6rem;
    @include g.mq(lg){
      width: calc(100% / 3);
      margin-right: auto;
      margin-bottom: 6rem;
    }
  }
  &_copyright{
    color: g.$colorWhite;
    font-size: 1.2rem;
    text-align: center;
    @include g.mq(lg){
      font-size: 1.4rem;
    }
  }
  &Menu{
    margin-bottom: 3.6rem;
    @include g.mq(lg){
      margin-bottom: 6rem;
    }
    ul.menu{
      @include g.mq(lg){
        display: grid;
        grid-template-columns: repeat(5,1fr);
        column-gap: 3.6rem;
        justify-content: space-between;
      }
      li.menu-item{
        a{
          display: inline-block;
          width: 100%;
          color: g.$colorWhite;
        }
      }
      >li.menu-item{
        >a{
          position: relative;
          border-bottom: solid 0.2rem g.$colorWhite;
          padding: 2rem 0;
          font-size: 2.2rem;
          &::before{
            content: "";
            display: inline-block;
            position: absolute;
            top: calc(50% - 0.8rem);
            right: 0;
            transform: translateX(-50%);
            width: 2.3rem;//画像の横幅
            height: 1.3rem;//画像の縦幅
            background-image: url(../image/common/menu_arrow.svg);
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
            pointer-events: none;
            transition: transform 0.3s;
            @include g.mq(lg){
              display: none;
            }
          }
          &.close{
            &::before{
              transform: translateX(-50%) rotate(-180deg);
            }
          }
        }
      }
      li.menu-item{
        ul.sub-menu{
          display: none;
          @include g.mq(lg){
            display: block;
          }
          li.menu-item{
            a{
              padding: 1.6rem 1.5rem 1.6rem 1.5rem;  
              border-bottom: solid 0.1rem g.$colorWhite;
              font-size: 1.6rem;
            }
            &:last-of-type{
              margin-bottom: 2.4rem;
            }
          }
        }
      }
    }
  }
}
.lgFixedContact_button {
  display: none;
  @include g.mq(lg){
    display:block;
    position: fixed;
    z-index: 99;
    bottom: 10.4rem;
    right: 10.4rem;
    filter: drop-shadow(0 .3rem .6rem rgba(0,0,0,.16));
  }
  a {
    transition: opacity .3s;
    img {
      width: 18rem;
    }
    &:hover {
      opacity: .5
    }
  }
}
.smFixedButton {
  overflow: hidden;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 99;
  width: 100%;
  border-top-right-radius: .6rem;
  border-top-left-radius: .6rem;
  box-shadow: 0 -.3rem .6rem rgba(0,0,0,.16);
  @include g.mq(lg){
    display:none;
  }
  &_text {
    padding: .5rem 0 .7rem;
    background-color: #fff;
    color: #d5546a;
    font-size: 1.2rem;
    font-weight: 700;
    text-align: center
  }
  &List {
    grid-template-columns: repeat(3,1fr);
    height: 6.8rem;
    background-color: #d5546a;
    &_item {
      border-right: solid .2rem #fff;
      a {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
        color: #fff;
        font-size: 1rem;
        text-align: center
      }
      &:last-of-type {
        border: none
      }
      &._form{
        a{
          img {
            width: 2rem;
            margin-bottom: .6rem
          }
        }
      }
      &._tel{
        a{
          img{
            width: 1.6rem;
          margin-bottom: .2rem
          }
        }
      }
      &._line{
        a{
          img{
            width: 8rem
          }
        }
      }
    }
  }
}